a {
    text-decoration: none;
    color: inherit;
}

input {
    border-radius: .5rem;
    border: 1px solid #cfd9df;
    padding: 0.75rem;
    font-size: .9rem;
    box-shadow: #cfd9df -3px 2px 8px 0;
}

.m-auto {
    margin: auto;
}

.mt {
    margin-top: 0.5rem;
}

.mb {
    margin-bottom: 0.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.timeline {
    position: relative;
    max-height: 100%;
}

.timeline-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    box-shadow: #5c5c5c59 -3px 2px 8px 0;
    background: #586071;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.timeline-event:after {
    content: '';
    position: absolute;
}

.timeline-event-title, .timeline-event-description {
    color: white;
    opacity: .65;
    filter: hue-rotate(45deg);
}

.timeline-event-title {
    font-size: .9em;
    font-weight: 600;
}

.timeline-event-description {
    font-size: 0.7em;
}

.timeline-current-marker {
    position: absolute;
    right: 0;
    height: 100%;
    background: #5c5c5c0a;
    border-left: 1px dashed rgb(133 133 133 / 53%);
}

/**
 * Tags
 */

.tags {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0;
    overflow-x: auto;
}

.tag {
    margin: 0 0.5rem 0.5rem 0;
    padding: .5rem;
    background: #cfd9df;
    user-select: none;
    cursor: pointer;
    min-width: fit-content;
}

.tag-selected {
    background: #586071;
    color: #ffffff;
}
